<!DOCTYPE html>
<!--보안설정을 위해 sec-->
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="#" />
    <meta charset="UTF-8">
    <title>Simple Home</title>
</head>
<body>
    <div sec:authorize="isAnonymous()">
        <h2>Hello Please, sign in!</h2>
        <button onclick="location.href='http://localhost:10000/request-login?request_from=http://127.0.0.1:9080/home'">로그인</button>
    </div>

    <div sec:authorize="isAuthenticated()">
        <h3>
            반갑습니다. <span sec:authentication="name"></span>님!
        </h3>
        <form th:action="@{/user/logout}" method="post">
            <input type="submit" th:value="로그아웃">
        </form>
    </div>

</body>
</html>